################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/LinkStack/LinkStack.VC.db
/LinkStack/LinkStack.VC.VC.opendb
